In [12]:
import pandas as pd
improt sklearn
from sklearn.linear_model import SGDRegressor

df = pd.read_csv("datasets/diamonds.csv", index_col=0)
cut_class_dict = {"Fair": 1, "Good": 2, "Very Good": 3, "Premium": 4, "Ideal": 5}
clarity_dict = {"I3": 1, "I2": 2, "I1": 3, "SI2": 4, "SI1" : 5, "VS2": 6, "VS1": 7, "VVS2": 8, "VVS1": 9, "IF": 10, "FL": 11}
color_dict = {"J": 1,"I": 2,"H": 3,"G": 4,"F": 5,"E": 6,"D": 7}
df['cut'] = df['cut'].map(cut_class_dict)
df['clarity'] = df['clarity'].map(clarity_dict)
df['color'] = df['color'].map(color_dict)

df=sklearn.utilis.

   carat  cut  color  clarity  depth  table  price     x     y     z
1   0.23    5      6        4   61.5   55.0    326  3.95  3.98  2.43
2   0.21    4      6        5   59.8   61.0    326  3.89  3.84  2.31
3   0.23    2      6        7   56.9   65.0    327  4.05  4.07  2.31
4   0.29    4      2        6   62.4   58.0    334  4.20  4.23  2.63
5   0.31    2      1        4   63.3   58.0    335  4.34  4.35  2.75

In [36]:
import pandas as pd
df=pd.read_csv("datasets/minwage.csv")
gb=df.groupby("State")

act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name}))

act_min_wage.describe()

       Alabama     Alaska    Arizona  ...  West Virginia  Wisconsin    Wyoming
count     50.0  50.000000  50.000000  ...      50.000000  50.000000  50.000000
mean       0.0   9.583800   2.316200  ...       7.166400   7.694200   5.149200
std        0.0   1.845176   3.474504  ...       0.793673   0.762675   1.998928
min        0.0   7.380000   0.000000  ...       5.580000   6.420000   2.260000
25%        0.0   8.252500   0.000000  ...       6.630000   7.107500   3.270000
50%        0.0   8.890000   0.000000  ...       7.075000   7.580000   5.445000
75%        0.0  10.492500   3.147500  ...       7.612500   8.145000   6.607500
max        0.0  15.120000  10.220000  ...       9.130000   9.660000   8.980000

[8 rows x 55 columns]

In [10]:
import pandas as pd
df=pd.read_csv("datasets/avocado.csv")
df['Date'] = pd.to_datetime(df['Date'])
#df.head()
#df.tail(1)
#df['AveragePrice'].head()
#df.AveragePrice.head()
albany_df = df[df['region']=="Albany"]
albany_df.set_index("Date",inplace=True)
albany_df.sort_index(inplace=True)
albany_df['price25ma']=albany_df["AveragePrice"].rolling(25).mean()
#albany_df.price25ma.plot()
albany_df.tail()
df.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)